
MobileAutomation/target/classes/META-INF/maven/MobileAutomationProj/MobileAutomation/pom.properties
MobileAutomation/target/classes/META-INF/maven/MobileAutomationProj/MobileAutomation/pom.properties
MobileAutomation/target/classes/META-INF/maven/MobileAutomationProj/MobileAutomation/pom.xml
